In [7]:
#Import cities csv file, separate city and state into different columns and export dataframe
#as an html file 
#cities_df.to_csv("city_list_df.csv", index=False, header=True)

In [9]:
#Import dependencies
import pandas as pd
import csv

In [3]:
#Import csv file and convert into df
cities=pd.read_csv("resources/city_list_df.csv").drop(['Unnamed: 0'], axis=1)
cities_df = pd.DataFrame(cities)
cities_df['City_Country'] = cities_df['City_Country'].str.upper()
cities_df.head()

,City_Country,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Lat,Lng
0,"HITHADHOO,MV",82.51,100.0,80.0,5.21,-0.60,73.08
1,"MALINDI,KE",79.49,87.0,0.0,14.56,-3.22,40.12
2,"KAKONKO,TZ",61.40,93.0,48.0,6.06,-3.28,30.97
3,"PENALVA,BR",79.90,82.0,92.0,4.61,-3.29,-45.17
4,"IQUITOS,PE",78.80,88.0,75.0,3.36,-3.75,-73.25

In [4]:
cities_df[['City_Country', 'Country']] = cities_df['City_Country'].str.split(',', expand=True)
cities_df=cities_df.rename(columns = {'City_Country':'City'})
cities_df=cities_df[['City', 'Country', 'Temperature (F)','Humidity (%)','Cloudiness (%)', 'Wind Speed (mph)', 'Lat', 'Lng']]
cities_df.head()

,City,Country,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Lat,Lng
0,HITHADHOO,MV,82.51,100.0,80.0,5.21,-0.60,73.08
1,MALINDI,KE,79.49,87.0,0.0,14.56,-3.22,40.12
2,KAKONKO,TZ,61.40,93.0,48.0,6.06,-3.28,30.97
3,PENALVA,BR,79.90,82.0,92.0,4.61,-3.29,-45.17
4,IQUITOS,PE,78.80,88.0,75.0,3.36,-3.75,-73.25

In [6]:
#Convert dataframe to html
cities_df.to_html(open('cities_table.html', 'w'))
#Convert to csv file
cities_df.to_csv("cities_table.csv")